
<h1>New User</h1>


<% if @user.errors.any? %>
<h1>uh oh! looks like there's been a mistake - </h1>
<ol>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
<% end %>
</ol>

<%= render 'form' %>

<% provide(:title, 'Sign up') %>



<%= link_to 'Back', users_path %>

